menu "Bonsai Firmware Configuration"
    menu "HTTP Server Configuration"
        config BONSAI_FIRMWARE_HTTP_TELEMETRY_BUFFER_SIZE
            int "Buffer size to hold the formatted telemetry JSON data"
            default 1024
            help
                Buffer size to hold the formatted telemetry JSON data, in bytes.

        config BONSAI_FIRMWARE_HTTP_REGISTRATION_BUFFER_SIZE
            int "Buffer size to hold the formatted registration JSON data"
            default 512
            help
                Buffer size to hold the formatted registration JSON data, in bytes.
    endmenu

    menu "Sensor Configuration"
        menu "Soil Analog Relay Sensor Configuration"
            config BONSAI_FIRMWARE_SENSOR_SOIL_ANALOG_RELAY_ADC_CHANNEL
                int "ADC channel"
                default 6
                help
                    ADC channel to read the soil moisture values.

            config BONSAI_FIRMWARE_SENSOR_SOIL_ANALOG_RELAY_VALUE_MAX
                int "Soil dryness threshold"
                default 2300
                help
                    Value of completely dry soil.

            config BONSAI_FIRMWARE_SENSOR_SOIL_ANALOG_RELAY_VALUE_MIN
                int "Soil wetness threshold"
                default 900
                help
                    Value of completely wet soil.

            config BONSAI_FIRMWARE_SENSOR_SOIL_ANALOG_RELAY_GPIO
                int "GPIO to control the relay"
                default 26
                help
                    GPIO to control the relay.

            config BONSAI_FIRMWARE_SENSOR_SOIL_ANALOG_RELAY_READ_INTERVAL
                int "Read interval, in seconds"
                default 86400
                help
                    How often to read data from the sensor.

            config BONSAI_FIRMWARE_SENSOR_SOIL_ANALOG_RELAY_POWER_ON_DELAY_INTERVAL
                int "Power on delay interval, in seconds"
                default 1
                help
                    How long to wait after the relay is energized.
        endmenu
    endmenu
endmenu
